$text-color: #262626;
body{
  // background: #F0F0F0;
  font-family: "Microsoft YaHei", sans-serif;
  color: $text-color;
}
// <style lang="scss" scoped>
.loading {
    background: url(../images/loading.svg) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
}
// </style>
@media all and (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

@media all and (max-width: 600px) and (min-width: 401px) {
    html {
        font-size: 14px;
    }
}

table{
  width: 100% !important;
}
