$text-color: #262626;
body{
  background: #F0F0F0;
  color: $text-color;
}
.tab-view{
  li{
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: #fff;
    line-height: 1rem;
    color: $text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      max-width: calc(100% - 3.2rem);
      flex-shrink: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .iconfont{
    color: #999;
  }
}
// <style lang="scss" scoped>
.loading {
    background: url(../images/loading.svg) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position: center;
}
// </style>
