$text-color: #262626;
body{
  // background: #F0F0F0;
  font-family: "Microsoft YaHei", sans-serif;
  color: $text-color;
}
// <style lang="scss" scoped>
.loading {
    background: url(../images/loading.svg) no-repeat;
    height: 88px;
    width: 88px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
}
img{
  max-width: 100%;
}

table{
  width: 100% !important;
}
.inner-content{
  p{
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
